# 依赖
node_modules/
.pnpm-store/

# 构建产物
dist/
build/
*.tgz

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器和IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统文件
.DS_Store
Thumbs.db

# 测试覆盖率
coverage/

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Rollup缓存
.rollup.cache/ 